@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&family=Roboto:wght@300;400&display=swap");

/*Titulos y parrafos*/
h1 {
  font-family: "Advent Pro", sans-serif;
  font-size: 60px;
  color: rgb(41, 33, 25);
  padding-bottom: 40px;
}

h2 {
  font-family: "Advent Pro", sans-serif;
  font-size: 40px;
  color: rgb(41, 33, 25);
  padding-bottom: 40px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgb(41, 33, 25);
}

p {
  color: rgb(41, 33, 25);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(41, 33, 25);
}
/*Espacios entre secciones*/
.padding {
  padding: 10% 4% 0% 4%;
}
/*Card*/
.card-img-top {
  height: 300px;
  object-fit: cover;
}

.reconocimiento {
  height: 200px;
  object-fit: contain;
  padding: 20px;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 90vh;
  text-shadow: 2px 2px 4px rgb(171, 157, 140);
}

#cta {
  height: 300px;
  width: auto;
}

#background-cta {
  margin: 0px;
  padding: 40px 0px 0px 0px;
  background-image: linear-gradient(to bottom right, #cac3bb, #3f2406);
}

#background-novedades {
  background-image: radial-gradient(circle, #bf471b, #bf471b);
  padding-bottom: 10%;
}

#background-reconociminetos {
  background-image: linear-gradient(
    to bottom,
    #fff3e9,
    #fff3e9 70%,
    #bf471b 30%,
    #bf471b
  );
  background-size: 100% 100%;
}
#background-reparto {
  background-image: linear-gradient(to bottom, #ffffff 20%, #fff3e9 80%);
}

#reconocimientos-altura {
  display: flex;
}

.d-flex {
  display: flex;
  gap: 40px; /* Espacio entre las columnas */
}

.card-body {
  height: 120px;
}

.card {
  border: none;
}
.card-overlay {
  position: relative;
}
.card-overlay img:last-child {
  position: absolute;
  top: 0;
  left: 45%;
}

.carousel-5 .carousel-item {
  width: calc(100% / 5);
}

.carousel-5 .carousel-item-next,
.carousel-5 .carousel-item-prev,
.carousel-5 .carousel-item.active {
  display: flex !important;
}

.carousel-5 .carousel-indicators {
  display: none;
}

footer {
  margin: 40px;
}
footer p {
  color: black;
  text-align: center;
}
